<div class="container">
   <div class="projects">
      <h2 class="project__title title-blocks">Наши проекты</h2>

      <div class="projects__grid projects__grid-1 projects__grid--active" data-target="1">
         <div class="project__item">
            <div class="project__row">
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block1/photo1.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-1/photo1.jpg">
                     <img src="assets/images/main/projects/block1-1/photo1.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#пейзаж</span>
                  <div class="project__row-description">Синтетически, смешаны с не уникальными данными до степени...
                  </div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>16 июня</data>
                  </div>
               </div>
               <!-- project__row-item 1 -->
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block1/photo2.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-1/photo2.jpg">
                     <img src="assets/images/main/projects/block1-1/photo2.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#портрет</span>
                  <div class="project__row-description">В своём стремлении улучшить опыт мы упускаем, что явные...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>28 мая</data>
                  </div>
               </div>
               <!-- project__row-item 2 -->
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block1/photo3.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-1/photo3.jpg">
                     <img src="assets/images/main/projects/block1-1/photo3.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#предмет</span>
                  <div class="project__row-description">Равным образом, высокое качество позиционных...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>14 мая</data>
                  </div>
               </div>
               <!-- project__row-item 3 -->

               <div class="project__row-item project__row-item--1024-grid1">
                  <picture class="project__row-img ">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block2/photo1.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-1/photo4.jpg">
                     <img src="assets/images/main/projects/block2-3/photo1.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#пейзаж</span>
                  <div class="project__row-description">Равным образом, сложившаяся структура организации...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>15 февраля</data>
                  </div>
               </div>
               <!-- project__row-item 4 -->
            </div>
         </div>
         <!-- project__item 1-->

         <div class="project__item">
            <div class="project__row-item project__row-item--1block">
               <picture class="project__row-img ">
                  <source media="(max-width: 580px)" srcset="assets/images/main/projects/320/block1/photo4.jpg">
                  <source media="(max-width: 768px)" srcset="assets/images/main/projects/768/block1/photo1.jpg">
                  <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-2/photo1.jpg">
                  <img src="assets/images/main/projects/block1-2/photo.jpg" alt="фото">
               </picture>

               <span class="project__row-span">#fuji</span>

               <div class="project__row-info">
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar.svg" alt="календарь">
                     <data>9 апреля</data>
                  </div>
                  <h3 class="project__row-title">Cемантический разбор</h3>
                  <div class="project__row-description">В рамках спецификации современных стандартов, интерактивные
                     прототипы</div>
               </div>
               <button class="btn btn--project">О проекте</button>
            </div>
         </div>
         <!-- project__item 2-->

         <div class="project__item">
            <div class="project__row-item project__row-item--1block">
               <picture class="project__row-img">
                  <source media="(max-width: 580px)" srcset="assets/images/main/projects/320/block1/photo7.jpg">
                  <source media="(max-width: 768px)" srcset="assets/images/main/projects/768/block1/photo2.jpg">
                  <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-2/photo4.jpg">
                  <img src="assets/images/main/projects/block1-3/photo.jpg" alt="фото">
               </picture>

               <span class="project__row-span">#проектзабвение</span>

               <div class="project__row-info">
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar.svg" alt="календарь">
                     <data>20 марта</data>
                  </div>
                  <h3 class="project__row-title">Забвение</h3>
                  <div class="project__row-description">Играет важную роль в формировании глубокомысленных рассуждений
                  </div>
               </div>
               <button class="btn btn--project">О проекте</button>
            </div>
         </div>
         <!-- project__item 3-->

         <div class="project__item">
            <div class="project__row project__row--2blocks">
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block1/photo5.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-2/photo2.jpg">
                     <img src="assets/images/main/projects/block1-4/photo1.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#пейзаж</span>
                  <div class="project__row-description">Как принято считать, многие известные личности и по сей день
                     остаются уделом либералов...
                  </div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>9 марта</data>
                  </div>
               </div>
               <!-- project__row-item 1 -->
            </div>
         </div>
         <!-- project__item 4-->

         <div class="project__item">
            <div class="project__row project__row--2blocks">
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block1/photo6.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-2/photo3.jpg">
                     <img src="assets/images/main/projects/block1-4/photo2.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#портрет</span>
                  <div class="project__row-description">С учётом сложившейся международной обстановки, новая модель
                     организационной...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>1 марта</data>
                  </div>
               </div>
               <!-- project__row-item 2 -->
            </div>
         </div>
         <!-- project__item 5-->
      </div>
      <!-- projects__grid 1-->



      <div class="projects__grid projects__grid-2" data-target="2">
         <div class="project__item">
            <div class="project__row-item project__row-item--1block">
               <picture class="project__row-img">
                  <source media="(max-width: 580px)" srcset="assets/images/main/projects/320/block2/photo4.jpg">
                  <source media="(max-width: 768px)" srcset="assets/images/main/projects/768/block2/photo1.jpg">
                  <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block2-1/photo1.jpg">
                  <img src="assets/images/main/projects/block2-1/photo.jpg" alt="фото">
               </picture>

               <span class="project__row-span">#портрет</span>

               <div class="project__row-info">
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar.svg" alt="календарь">
                     <data>24 февраля</data>
                  </div>
                  <h3 class="project__row-title">Спорная точка зрения</h3>
                  <div class="project__row-description">Ясность нашей позиции очевидна: убеждённость некоторых
                     оппонентов</div>
               </div>
               <button class="btn btn--project">О проекте</button>
            </div>

         </div>
         <!-- project__item 1-->

         <div class="project__item">
            <div class="project__row project__row--2blocks">
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block2/photo5.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block2-1/photo2.jpg">
                     <img src="assets/images/main/projects/block2-2/photo1.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#ретушь</span>
                  <div class="project__row-description">Идейные соображения высшего порядка, а также убеждённость
                     некоторых оппонентов...
                  </div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>20 февраля</data>
                  </div>
               </div>
               <!-- project__row-item 1 -->
            </div>
         </div>
         <!-- project__item 2-->

         <div class="project__item">
            <div class="project__row project__row--2blocks">
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block2/photo6.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block2-1/photo3.jpg">
                     <img src="assets/images/main/projects/block2-2/photo2.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#портрет</span>
                  <div class="project__row-description">Прежде всего, повышение уровня гражданского сознания говорит о
                     возможностях приоритизации...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>18 февраля</data>
                  </div>
               </div>
               <!-- project__row-item 2 -->
            </div>
         </div>
         <!-- project__item 3-->

         <div class="project__item">
            <div class="project__row">
               <div class="project__row-item project__row-item--1024-grid2">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block2/photo1.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block1-1/photo4.jpg">
                     <img src="assets/images/main/projects/block2-3/photo1.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#пейзаж</span>
                  <div class="project__row-description">Равным образом, сложившаяся структура организации...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>15 февраля</data>
                  </div>
               </div>
               <!-- project__row-item 1 -->
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block2/photo2.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block2-2/photo1.jpg">
                     <img src="assets/images/main/projects/block2-3/photo2.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#предмет</span>
                  <div class="project__row-description">Безусловно, реализация намеченных плановых заданий
                     обеспечивает...
                  </div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>10 февраля</data>
                  </div>
               </div>
               <!-- project__row-item 2 -->
               <div class="project__row-item">
                  <picture class="project__row-img">
                     <source media="(max-width: 320px)" srcset="assets/images/main/projects/320/block2/photo3.jpg">
                     <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block2-2/photo2.jpg">
                     <img src="assets/images/main/projects/block2-3/photo3.jpg" alt="фото">
                  </picture>
                  <span class="project__row-span">#пейзаж</span>
                  <div class="project__row-description">Безусловно, курс на социальный национальный...</div>
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar2.svg" alt="календарь">
                     <data>7 февраля</data>
                  </div>
               </div>
               <!-- project__row-item 3 -->
            </div>
         </div>
         <!-- project__item 4-->

         <div class="project__item">
            <div class="project__row-item project__row-item--1block">
               <picture class="project__row-img">
                  <source media="(max-width: 580px)" srcset="assets/images/main/projects/320/block2/photo7.jpg">
                  <source media="(max-width: 768px)" srcset="assets/images/main/projects/768/block2/photo2.jpg">
                  <source media="(max-width: 1024px)" srcset="assets/images/main/projects/1024/block2-1/photo4.jpg">
                  <img src="assets/images/main/projects/block2-4/photo.jpg" alt="фото">
               </picture>

               <span class="project__row-span">#проектджаз</span>

               <div class="project__row-info">
                  <div class="project__row-data">
                     <img src="assets/images/main/projects/calendar.svg" alt="календарь">
                     <data>2 февраля</data>
                  </div>
                  <h3 class="project__row-title">Задания по разработке своевременного</h3>
                  <div class="project__row-description">Повседневная практика показывает, что сложившаяся структура
                     организации играет важную роль
                  </div>
               </div>
               <button class="btn btn--project">О проекте</button>
            </div>
         </div>
         <!-- project__item 5-->
      </div>
      <!-- projects__grid 2-->

      <div class="project__tabs-btns">
         <button class="btn project__tabs-btn project__tabs-btn--active" data-path="1">1</button>
         <button class="btn project__tabs-btn" data-path="2">2</button>
      </div>
   </div>
</div>