<div class="container">
   <div class="works">
      <div class="works__master-class">
         <picture class="works__master-img">
            <source media="(max-width: 320px)" srcset="assets/images/main/works/photo1-320.jpg">
            <source media="(max-width: 768px)" srcset="assets/images/main/works/photo1-768.jpg">
            <source media="(max-width: 1024px)" srcset="assets/images/main/works/photo1-1024.jpg">
            <img src="assets/images/main/works/photo1.jpg" alt="фото">
         </picture>
         <span class="works__master-span">#мастеркласс</span>
         <div class="works__master-info">
            <span class="works__master-name">Мастер-класс от Игоря Робова</span>
            <h3 class="works__master-title">Неоновый фотосет 2.0 7 июля 20:00</h3>
            <a class="btn">Узнать больше</a>
         </div>
      </div>
      <!-- works__master-class -->

      <div class="works__photo">
         <h2 class="works__photo-title">Работы участников <span>предыдущего мастер-класса</span></h2>
         <div class="works__photos">
            <picture class="works__photo-img">
               <source media="(max-width: 320px)" srcset="assets/images/main/works/photo2-320.jpg">
               <source media="(max-width: 768px)" srcset="assets/images/main/works/photo2-768.jpg">
               <source media="(max-width: 1024px)" srcset="assets/images/main/works/photo2-1024.jpg">
               <img src="assets/images/main/works/photo2.jpg" alt="фото">
            </picture>
            <picture class="works__photo-img">
               <source media="(max-width: 320px)" srcset="assets/images/main/works/photo3-320.jpg">
               <source media="(max-width: 768px)" srcset="assets/images/main/works/photo3-768.jpg">
               <source media="(max-width: 1024px)" srcset="assets/images/main/works/photo3-1024.jpg">
               <img src="assets/images/main/works/photo3.jpg" alt="фото">
            </picture>
            <picture class="works__photo-img">
               <source media="(max-width: 320px)" srcset="assets/images/main/works/photo4-320.jpg">
               <source media="(max-width: 768px)" srcset="assets/images/main/works/photo4-768.jpg">
               <source media="(max-width: 1024px)" srcset="assets/images/main/works/photo4-1024.jpg">
               <img src="assets/images/main/works/photo4.jpg" alt="фото">
            </picture>
         </div>
      </div>
      <!-- works__photo -->
   </div>
</div>