// burger
.burger {
   display: none;
   width: 20px;
   height: 18px;
   background: inherit;
   align-items: center;
   padding: 0;
   border: none;
   position: relative;

   &__line {
      background: #fff;
      height: 2px;
      width: 20px;
   }

   &::after,
   &::before {
      content: "";
      display: block;
      background: #fff;
      position: absolute;
      height: 2px;
   }

   &::after {
      top: 0;
      width: 20px;
   }

   &::before {
      bottom: 0;
      width: 10px;
   }

   @include braikpoint ($br-mobile-sm) {
      display: flex;
   }
}

// btn
.btn {
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
   text-align: center;
   color: $color1;
   background-color: $color-btn;
   padding: 15px 22px;
   border: none;
}