*, *::after, *::before {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

a {
   text-decoration: none;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

nav {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1290px;
   margin: 0 auto;

   @include braikpoint (1350px) {
      padding: 0 3%;
   }
}
