*, *::after, *::before {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

a {
   text-decoration: none;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

nav {
   margin: 0;
   padding: 0;
}

img,
source {
   width: 100%;
}

.title-blocks {
   font-size: 2.4rem;
   line-height: 3.1rem;
   color: $color2;
   margin-top: 0;
   margin-bottom: 1.5rem;
}

.form-input__states {
   &:hover::placeholder {
      color: $color-hover;
   }
}

.container {
   max-width: 1290px;
   margin: 0 auto;

   @include braikpoint (1350px) {
      padding: 0 3%;
   }
}
