// fonts
$fontTTR: "TTR";
$fontTTB: "TTB";

// background
$bgfirst: #202020;
$bgsecond: #4A4A4A;

// button
$color-btn: #FF6E30;

// color fonts
$color1: #FFFFFF;
$color2: #202020;
$color3: #CACACA;

// states
$color-hover:#FF6E30;
$color-active:#CE4307;

// breakpoints
$br-desktop-xl: 1200px;
$br-tablet-lg: 1024px;
$br-tablet-md: 830px;
$br-tablet-md2: 768px;
$br-mobile-sm: 580px;
$br-mobile: 320px;
