.header {
   background: $bgfirst;
}

// header__main
.header__main {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 8rem;

   .header__list {
      display: flex;
   }

   .header__item:not(:first-child) {
      margin-left: 2rem;
   }

   .header__link {
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: $color1;
      font-family: $fontTTR;
      display: block;
      padding: 1.2rem 2.2rem;     
   }

   .header__link:hover {
      background-color: $color-hover;
   }

   .header__link:active,
   .header__link:focus {
      background-color: $color-active;
   }
}

// header__info
.header__info {
   background: $bgsecond;

   &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 4.5rem;
   }

   &-tel,
   &-search {
      display: flex;
      align-items: center;
      font-family: $fontTTB;
   }
   
   &-link {
      color: $color1;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-left: 3px;
   }

   &-tel:hover svg path {
      fill: $color-hover;
   }

   &-tel:active svg path,
   &-tel:focus svg path {
      fill: $color-active;
   }


   &-tel:hover .header__info-link {
      color: $color-hover;
   }

   &-tel:active .header__info-link,
   &-tel:focus .header__info-link {
      color: $color-active;
   }
   
   
}

// header-form
.header-form {
   position: relative;
}

.header-form__input {
   background: inherit;
   border: none;
   font-family: $fontTTR;
   font-size: 1.4rem;
   line-height: 1.8rem;
   width: 100%;
   color:#E9E9E9;
   border-bottom: 1px solid#E9E9E9;

   &::placeholder {
      color:#E9E9E9;
   }

   &:focus + .header-form__line {
      width: 100%;
   }

   &:hover + .header-form__line {
      width: 100%;
      background: $color-hover;
   }
}

.header-form__line {
   display: block;
   width: 0;
   height: 1px;
   background: $color-active;
   position: absolute;
   bottom: 0;
   left: 0;
}
